.about {
  position: relative;
  overflow: hidden;
}

.about .container > div:not(.breadcrumbs):not(.aboutText) {
  margin: 100px 0 0 9%;
}

.about .inner__title-two {
  margin-bottom: 20px;
}

.team__text {
  margin-left: 20%;
  padding: 40px 20px;
  font-size: clamp(14px, 2vw, 20px);
}

.team .inner__title-two {
  width: 350px;
}

.team__text p:not(:last-of-type) {
  margin-bottom: 20px;
}

.orderThis ul {
  margin-left: 20%;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 170%;
}

.orderThis li {
  list-style: disc;
  list-style-position: inside;
}

.aboutText {
  width: 80%;
  margin-top: 100px;
  padding-bottom: 200px;
}

.aboutText .inner__title-two {
  color: var(--color-main);
}

.aboutText__text {
  width: 450px;
  margin-left: 20%;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 20px);
}

.about__flower {
  position: absolute;
}

.about__flower-two {
  bottom: -150px;
  right: 0;
}

.about__yellow-one {
  width: 280px;
  height: 150px;
  left: 0px;
  top: 0;
}

.about__yellow-two {
  width: 275px;
  height: 330px;
  right: 27%;
  top: 12%;
}

.about__yellow-three {
  width: 280px;
  height: 280px;
  left: 28%;
  top: 28%;
}

.about__yellow-four {
  width: 250px;
  height: 300px;
  left: 0;
  bottom: 0;
}

.about__yellow-five {
  width: 250px;
  height: 250px;
  right: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .about .container > div:not(.breadcrumbs):not(.aboutText) {
    margin: 30px 0;
  }
  .team .inner__title-two,
  .aboutText {
    width: 100%;
  }
  .about__flower {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .aboutText {
    padding-bottom: 100px;
  }
  .aboutText__text {
    width: auto;
  }
}