.main-special {
  margin-top: 200px;
}

.main-special img {
  border-radius: 25px;
  backdrop-filter: blur(20px);
}

.main-special__top {
  display: flex;
}

.main-special__title span {
  position: relative;
  margin-left: 45%;
}

.main-special__title span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  display: inline-block;
  height: 1px;
  width: 255px;
  background-color: var(--color-pink);
}

.main-special__bottom {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
}

.main-special__list {
  width: 22%;
  min-width: 250px;
  margin-left: 2.5%;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.main-special__list p {
  margin-bottom: 40px;
}

.main-special__list li {
  margin-bottom: 20px;
  list-style: disc;
  list-style-position: inside;
}

.main-special__pink {
  width: 475px;
  height: 415px;
  right: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .main-special img:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 900px) {
  .main-special__bottom {
    flex-wrap: wrap;
  }
  .main-special__list {
    width: 100%;
  }
  .main-special__title span:before {
    content: none;
  }
}

@media (max-width: 768px) {
  .main-special {
    margin-top: 150px;
  }
  .howOrder {
    height: auto;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    justify-content: start;
    padding-right: 0;
  }
  .main-special img {
    display: none;
  }
  .main-special__pink {
    width: 300px;
    height: 415px;
    right: -10%;
    bottom: -10%;
  }
}
