.cart {
  position: relative;
  overflow: hidden;
}

.cartContainer {
  position: relative;
  z-index: 1;
  min-height: 50vh;
  margin-top: 30px;
  padding-bottom: 100px;
}

.cartList__item {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-main);
}

.cartContainer__middle,
.cartContainer__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cartContainer__middle {
  width: 150px;
}

.cartContainer_left {
  width: 150px;
}

.cartContainer__price {
  padding-left: 9px;
  color: var(--color-mint);
}

.cartContainer button {
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--color-main);
  font-family: "Oswald", Helvetica, sans-serif;
  transition: 0.4s;
  cursor: pointer;
}

button.cartContainer__delete {
  padding: 9px;
  border: 1px solid transparent;
  font-size: 14px;
}

.cartContainer__delete:hover {
  border: 1px solid var(--color-main);
}

.cartContainer__quanity {
  width: 100px;
  display: flex;
  border: 1px solid var(--color-main);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.cartContainer__quanity button {
  font-size: 20px;
}

.cartContainer__result-mint {
  color: var(--color-mint);
}

.cartContainer__result {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.cartContainer__result p {
  width: 50%;
}

.cart__flower {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cart__green-one {
  width: 400px;
  height: 600px;
  top: 0;
  right: -19%;
}

.cart__pink-one {
  width: 300px;
  height: 500px;
  left: -15%;
  top: 0;
}

.cart__green-two {
  width: 700px;
  height: 100px;
  bottom: 0;
  left: 10%;
  transform: none;
}

.cart__pink-two {
  width: 300px;
  height: 300px;
  right: 0px;
  bottom: 0;
}

.underline {
  border-bottom: 1px solid var(--color-mint);
  transition: 0.3s;
}

.underline:hover {
  border-color: transparent;
}

.emptyCart {
  position: relative;
  z-index: 2;
  margin: 50px 0 100px;
}

@media (max-width: 768px) {
  .cartContainer__result p {
    width: 100%;
  }
  .cartList__item,
  .cartContainer__middle,
  .cartContainer__right {
    gap: 10px;
  }
}
