.catalogFiltr {
  width: 255px;
  height: min-content;
  padding: 20px;
  font-weight: 300;
  font-size: 12px;
}

.catalogFiltr > div {
  margin-bottom: 30px;
}

.catalogFiltr > div h3 {
  margin-bottom: 10px;
}

.catalogFiltr__btn.btn {
  width: 90%;
  height: 40px;
}

@media (max-width: 1024px) {
  .catalogFiltr {
    width: 100%;
  }
}