.error {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  padding: 0 0 100px;
  overflow: hidden;
}

.error__num {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: clamp(100px, 30vh, 500px);
  background: linear-gradient(
    180deg,
    #163d8f 0%,
    #163d8f 0%,
    #4f6cab 54.69%,
    #b6cdff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error__info a {
  display: inline-block;
  margin-top: 20px;
}

.error__text {
  width: 350px;
  top: 5%;
  right: 0;
  color: #163d8f;
  transform: rotate(-25deg);
}

.error__flower {
  width: 100%;
  position: absolute;
  left: -20%;
  z-index: -1;
}

.error__darkblue-one {
  width: 30vw;
  height: 60vh;
  bottom: -50px;
  left: -50px;
}

.error__darkblue-two {
  width: 30vw;
  height: 25vh;
  top: -50px;
  right: -50px;
}

.error__darkblue-three {
  width: 50vw;
  height: 60vh;
  bottom: -100px;
  right: -100px;
}

@media (max-width: 600px) {
  .error__darkblue-one, .error__darkblue {
    height: 200px;
  }
}