.card, .slider .card {
  position: relative;
}

.card img {
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.card img:hover {
  transform: scale(1.0);
  box-shadow: 3px 3px 20px rgb(67, 255, 210, 0.5);
}

.card__text h3 {
  margin: 20px 0;
  font-size: clamp(14px, 2vw, 20px);
}

.card__text p {
  margin-bottom: 20px;
}
